.git
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/
**/.venv/
**/venv/
**/env/

uploads/
logs/
Reports/
**/Reports/
*.log

*.rar
*.zip

models/generator/checkpoint-*/
models/generator/runs/
models/generator/reports/
models/generator/**/optimizer.pt
